@import '../bootstrapStyle';

.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

@media (max-width: 1200px) {
  .swiper-container {
    padding: 0 20px 0;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .img-fluid {
    width: 750px;
    height: 700px;
    object-fit: cover;
  }
}

:root {
  --swiper-theme-color: #000;
}

.swiper-pagination {
  display: none;
}

/* Works */

.works {
  font-size: 1em;
  padding-top: 4rem;
  padding-bottom: 5rem;
}


.events-container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  div.event:last-child {
    border-bottom: 4px solid #1b1e21;
  }
}

.event {
  border-top: 4px solid #706f6f;
  display: flex;
  padding: 1.3rem;
  width: 70%;
  flex-direction: column;

  strong {
    color: $brand-white;
    text-decoration: underline;
  }

  h3 {
    font-size: 2em;
  }

}

.event_sum {
  justify-content: center;

  display: flex;
  align-items: flex-start;

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .col1 {
    width: 65%;
    padding-right: 2rem;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    width: 35%;

    p {
      margin-bottom: 0.7em;
      line-height: normal;
      font-size: 0.95em;
    }
  }
}

.single-event {
  h1 {
    padding: 15px 0;
    margin: 0;
    font-size: 2em;
  }
}

.event-description {
  padding: 2em 1em 0 1em;
}

.comments_container {
  padding: 2em 1em;
  width: 60%;

  @media (max-width: 1000px) {
    & {
      width: 100%;
    }
  }

  label {
    margin: 10px 0;
  }

  input {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  .disabled {
    background: darkgray;

  }

  .div-disabled {
    button:hover {
      color: #fff;
    }
  }
}


[data-tooltip] {
  position: relative; /* Относительное позиционирование */
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 300px; /* Ширина подсказки */
  left: 0;
  top: 0; /* Положение подсказки */
  background: rgba(52, 52, 52, 0.2);
  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
}

.comment {
  //min-height: 4em;
  padding: 1em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  margin-top: 1em;
  margin-bottom: 2em;

  .com_tools {
    position: absolute;
    top: 2px;
    right: 5px;
  }

}

.comment_textarea {
  margin-bottom: 0;
}

.com_button {
  margin-bottom: 2em;
}

.comment-edit-form {
  display: none;
}

.error_span {
  span {
    line-height: 1em;
    color: red;
    font-size: 0.8em;
  }

  label {
    margin-top: 0;
  }

}