/* Studio */

.studio {
  font-size: 1em;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

p {
  margin-bottom: 2px;
}

.exhibition {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  div:nth-child(even) {
    margin-right: 0;
  }

}

.exhibition_one {
  text-align: left;
  display: inline-block;
  margin-bottom: 4em;
  flex-basis: 30%;
  margin-right: 10%;

  h3 {
    font-size: 1.6em;;
    margin: 0.3em 0;
  }

  p {
    //img
    &:first-child {
    }

    //date
    &:nth-child(2) {
    }

    //place
    &:nth-child(3) {
    }

    //name
    &:nth-child(4) {
      padding: 10px 0;
      text-align: left;
    }

    //description
    &:last-child {
      font-size: 1.1em;
    }
  }
}