@import '../bootstrapStyle';

html, body {
  overflow-x: hidden;
}

a {
  color: $brand-primary;
  @include transition(.5s);

  &:hover, &:active, &:focus {
    color: $brand-gold;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6, figure {
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-moz-selection {
  background: $brand-primary;
}

::selection {
  background: $brand-primary;
}

#fh5co-page {
  position: relative;
  overflow-x: hidden;
}

#fh5co-aside {

  position: fixed;
  bottom: 0;
  top: 0;
  left: -50%;
  width: 50%;
  background: $brand-black;
  background-size: cover;
  color: lighten($brand-black, 50%);
  padding: 30px;
  z-index: 100;
  overflow-y: scroll;
  height: 100%;

  .image-bg {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $brand-black url('../images/img_7.jpg') no-repeat;
    z-index: 1;
  }

  > .row {
    z-index: 5;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
  }

  h2 {
    color: $brand-white;
  }

  #fh5co-aside-inner {
    height: 100%;
    position: relative;
  }

  #fh5co-bio {
    opacity: 0;
  }

  @media screen and (max-width: $screen-xs) {
    left: -85%;
    width: 85%;
  }
  @include transition(.5s);
}

.aside-toggle, .back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  @include transition(.5s);

  a {
    background: $brand-black;
    font-size: 13px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 10;
    color: $brand-white;
    @include inline-block;
    @include border-radius(50%);
    @include transition(.5s);

    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
      @include border-radius(50%);
    }

    span {
      width: 100px;
      height: 100px;
      @include border-radius(50%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 8;
      -webkit-transform: scale(0.0);
      -moz-transform: scale(0.0);
      -ms-transform: scale(0.0);
      -o-transform: scale(0.0);
      transform: scale(0.0);
      @include gradientSolid;
      @include transition(.3s)

    }

    em {
      width: 100px;
      height: 100px;
      line-height: 100px;
      position: relative;
      z-index: 10;
      font-style: normal;
      color: $brand-white;
      -webkit-transition-delay: .2s; /* Safari */
      -moz-transition-delay: .2s;
      transition-delay: .2s;
      opacity: 1;
      visibility: visible;
      @include transition(.3s);
    }

    &:hover {
      -webkit-transition-delay: .2s; /* Safari */
      -moz-transition-delay: .2s;
      transition-delay: .2s;

      background: transparent;

      em {
        color: $brand-white;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        transform: scale(0.0);
      }

      span {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
        margin-left: 0px;
      }
    }

    @media screen and (max-width: $screen-sm) {
      width: 80px;
      height: 80px;
      line-height: 80px;
      span, em {
        width: 80px;
        height: 80px;
        line-height: 80px;
      }
    }
  }
}

.back-to-home {
  left: inherit !important;
  right: 20px;
}

#fh5co-image-grid {
  margin-top: 15px;
  padding-bottom: 15px;
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  @include transition(.5s);

  .grid {
    position: relative;
  }

  .item {
    position: relative;

    a {
      position: relative;
      float: left;
      width: 100%;

      .img-wrap {
        position: relative;
        z-index: 1;
        overflow: hidden;

        img {
          @include transition(.5s);
        }
      }

      .text-wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        vertical-align: middle;
        @include gradientOpacity();
        opacity: 0;
        visibility: hidden;
        @include transition(.5s);

        .text-inner {
          width: 100%;
          height: 100%;
          display: table;

          > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            h2 {
              font-size: 18px;
              margin: 0;
              color: $brand-white;
              display: inline-block;
              @media screen and (max-width: $screen-xs) {
                font-size: 15px;
              }
            }

            span {
              display: block;
              color: rgba(255, 2552, 255, .5);
              font-size: 12px;
            }
          }
        }

      }

      &:hover {
        .img-wrap {
          img {
            transform: scale(1.2);
          }
        }

        .text-wrap {
          opacity: 1;
          visibility: visible;
        }
      }

    }
  }
}

.fh5co-social {
  a {
    font-size: 26px;
    margin-right: 20px;
    margin-bottom: 10px;
    @include transition(.3s);
    position: relative;
    @include inline-block;

    &:hover {
      text-decoration: none;
      color: $brand-white;

      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);

    }
  }
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
  @media screen and (max-width: $screen-lg) {
    width: 33.333%;
  }
  @media screen and (max-width: $screen-md) {
    width: 50%;
  }
  @media screen and (max-width: $screen-xs) {
    width: 50%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.animate-box {
  .js & {
    opacity: 0;
  }
}


.studio {
  h3 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }
}

.aside-about {
  padding: 5rem;
}